@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
  background-color: #000000;
}

.bio-header{
  justify-content: center;
}
p{
  display:flex;
text-align: left;
  justify-content: center;
    background-color: #000000;
    color:white;
    margin: 0 auto; width: 50%;
    line-height: 2em;
    padding: 60px;
}

.top-line{
  border: 1px solid red;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 30px;
  margin-top: 15px;
}

.bottom-line{
  border: 1px solid red;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 1em;
  margin-bottom:6em;
}

.subnav{
  display:flex;
  
}

.bio-wrapper{
  display: flex;
  flex-direction: column;
}

#steve-image{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px;
}
/************************* media 425 px *****************************/

@media only screen and (max-width: 425px){

  .top-line{
    border: 1px solid red;
    margin-right: 30%;
    margin-left: 15%;
    width: 300px;
   
  }

  /************************* media 375 px *****************************/

@media only screen and (max-width: 375px){

  .top-line{
    border: 1px solid red;
    margin-right: 30%;
    margin-left: 3%;
    width: 300px;
   
  }
}

 /************************* media 320 px *****************************/

 @media only screen and (max-width: 320px){
  
 }



}