.contact-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: left;
  margin: auto;
  width: 50%;
  padding-left: 300px;
  padding-top: 190px;
}

.contact-header {
  font-size: 30px;
  text-align: left;
  color: rgb(249, 249, 249);
}

a {
  text-decoration: underline;
  color: white;
}

.contact-p {
  padding-bottom: 80px;
  font-size: 15px;
  border: none;
  text-align: left;
}

@media only screen and (max-width: 320px) {
  .contact-wrap {
    padding-left: 0px;
    padding-top: 190px;
  }
}
@media only screen and (max-width: 375px) {
  .contact-wrap {
    padding-left: 0px;
    padding-top: 190px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-wrap {
    padding-left: 0px;
    padding-top: 190px;
  }
}
@media only screen and (max-width: 768px) {
  .contact-wrap {
    padding-left: 0px;
    padding-top: 190px;
  }
}
@media only screen and (max-width: 1024px) {
  .contact-wrap {
    padding-left: 0px;
    padding-top: 190px;
  }
}
