
.wrap-video-content{
    display: flex;
  
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
  
    background-color: rgb(0, 0, 0);
 padding-top: 60px;
}

.video-paragraph{
    color:white;
    
}

.video-sub-title{
    color: white;
    padding-top: 30px;
}

.p-wrapper{
    display: flex;
  
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; 
    padding-top: 50px;
}

video{
    border: 3px solid white;
}
